<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <p>A</p>
    <input type="text" name="a">
    <p>B</p>
    <input type="text" name="b">
    <p>C</p>
    <input type="text" name="c">
    <p>Текст шифрования</p>
    <input type="text" name="text">
    <p>Результат</p>
    <input type="text" name="result">
    <input type="hidden" name="encryption" value="1">
    <input type="submit" value="Зашифровать">
</form>
<form method="post">
    <p>A</p>
    <input type="text" name="a">
    <p>B</p>
    <input type="text" name="b">
    <p>C</p>
    <input type="text" name="c">
    <p>Текст шифрования</p>
    <input type="text" name="text">
    <p>Результат</p>
    <input type="text" name="result">
    <input type="hidden" name="encryption" value="2">
    <input type="submit" value="Дешифровать">
</form>
</body>
</html>